html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Helvetica Neue', 'Meiryo UI', Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

li {
  list-style: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

h3,
h4,
p,
li,
dl {
  color: #323232;
}

a {
  text-decoration: none;
  color: #323232;
}

body {
  background-color: #efefef;
  margin: 0 auto;
  min-height: 100dvh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}
