.modal {
  position: absolute;
  width: 320px;
  height: 640px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 8px;
  top: 64px;
  left: calc(50% - 150px);
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.inner {
  padding: 16px;
}
.close {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
  font-size: 32px;
  svg {
    cursor: pointer;
  }
}
.title {
  text-align: center;
  font-size: 20px;
}
.image {
  margin: 16px auto 0;
  width: 120px;
  aspect-ratio: 1.5;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.description {
  margin-top: 16px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 60px;
}
.detail {
  margin-top: 16px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 8px;
  dt {
    width: 32px;
    font-size: 20px;
  }
  dd {
    width: calc(100% - 40px);
  }
}
